.card{
    background: #FFFFFF;
    box-shadow: 0px 0px 17px rgba(17, 25, 48, 0.06), 0px 29px 20px -18px rgba(29, 34, 48, 0.06);
    border-radius: 32px;
    height: 153px;
    width: 288px;
    text-align: center;
    margin-bottom: 50px;

}
.card h1{
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #07070B;
}
.card img{
    padding-top: 25px;
}
/* car1 */
.card1{
    text-align: center;
    width: 384px;
    height: 274px;
    background: #F6F7FA;
    border-radius: 8px;
        
}
.card1 h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #151516;
}
.card1 img{
    padding-top: 50px;
}
/* /card2 */
.card2{
    width: 360px;
    height: 275px;
    background: #FFFFFF;
    border-radius: 16px;
    margin-bottom: 50px;
}
.date{
    font-family: 'Inter';
    font-weight: 400;
    width: 83px;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.32px;
    color: #8E8E93;
    padding: 10px 0px;
}
.sen{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #91919D;
    width: 300px;
}
.card2 h1{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.56px;
    color: #232425
}
.card2 img{
    padding-top: 30px;
}
.card2 p, .card2 img, .card2 h1{
    padding-left: 20px;
}
/* card3 */
.imgcar{
    text-align: center;
    background: #251F14;
    border-radius: 8px;
    width: 69px;
    height: 69px;
    margin-bottom: 20px;
    margin-left: 60px;
}
.card3{
    text-align: center;
}
.card3 h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    width: 190px;

}
.imgcar img{
    padding-top: 15px;
    height: 35px;
    width: 35px;
}
.card4{
    display: flex;
    gap: 10px;
    align-items: center;
}
.text-card4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #91919D;
}
@media only screen and (min-width: 360px ) and (max-width: 699px) {
    .card{
        margin-left: 50px;
    }
    .card2{
        width: 300px;
        height: 320px;
        margin-left: 40px;
    }
    .card2 h1, .card2 p{
        width: 200px;
    }
    .card3{
        margin-bottom: 10px;
    }
    .card4{
        margin-bottom: 20px;
    }
    .marko{
        text-align: center;
    }
}
@media only screen and (min-width: 700px ) and (max-width: 1280px) {
    .card{
        margin-left: 50px;
    }
    .card2{
        width: 260px;
        height: 320px;
        margin-left: 40px;
    }
    .card2 h1, .card2 p{
        width: 200px;
    }
    .card3{
        margin-bottom: 10px;
    }
    .card4{
        margin-bottom: 20px;
    }
    .marko{
        text-align: center;
    }
}
